
@font-face {
    font-family: 'LFT Etica';
    src: url('/fonts/LFT_Etica_Reg.woff')      format("woff"),
         url('/fonts/LFT_Etica_Semibold.woff') format("woff"),
         url('/fonts/LFTEticaLt.woff')         format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 { @apply text-gray-dark text-5xl font-bold mt-3 mb-6; }
h2 { @apply text-3xl mt-16 mb-6; }
h3 { @apply text-2xl mt-16 mb-6; }
h4 { @apply text-xl mt-16 mb-6;  }

.activeitem {
    @apply border-orange-svv border-l-4 font-bold;
}

.v-collapse-content{
    max-height: 0;
    transition: max-height 0.1s linear;
    overflow: hidden;
    padding: 0;
}

.v-collapse-content-end{
    transition: max-height 0.25s linear;
    max-height: 1000px;
}
